@import "tailwindcss";
@plugin "daisyui";

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

.scroll-snap-y {
  scroll-snap-type: y mandatory;
}

.scroll-snap-start {
  scroll-snap-align: start;
}